@model Laba2.ViewModels.DivisioStadiumViwModel

@{
    ViewData["Title"] = "Create";
}

<h1>Search Teams</h1>

<h4>Choose name number of divisions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team.Id" class="control-label">Кількість дівізіонів</label>
                <input asp-for="Team.Id" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <input type="submit" value="Find" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Назва команди@*@Html.DisplayNameFor(model => model.)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.teams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
