@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    
</p>

<div>Знаходження імен всіх дівізіонів на яких матчі проводилися на вибраному стадіоні </div>
<p>
    <a asp-action="Create" asp-controller="Stadia">Query 1</a>
</p>
<div>Знаходження імен менеджерів у яких є більше однієї команди</div>
<p>
    <a asp-action="Create" asp-controller="Managers">Query 2</a>
</p>
<div>Знаходження усіх матчів команди в яких ця команда не отримала жодної червоної картки</div>
<p>
    <a asp-action="Create" asp-controller="Teams">Query 3</a>
</p>
<div>Знаходження команди які приймають участь у певній кількості дівізіонів</div>
<p>
    <a asp-action="Edit" asp-controller="Teams">Query 4</a>
</p>
<div>Знаходження стадіонів на яких певна команда отримала хоча б однну жовту картку</div>
<p>
    <a asp-action="Delete" asp-controller="Teams">Query 5</a>
</p>
<div>Знаходження стадіонів які проводили матчі у всі ті дні що і заданий стадіон</div>
<p>
    <a asp-action="Edit" asp-controller="Stadia">Query 6</a>
</p>
<div>Знаходження команд які грали на тих і тільки тих стадіонах що і вибрана команда</div>
<p>
    <a asp-action="Query7" asp-controller="Teams">Query 7</a>
</p>
<div>Знаходження команд які грали принаймі на всіх тих стадіонах що і вибрана команда</div>
<p>
    <a asp-action="Query7_1" asp-controller="Teams">Query 7_1</a>
</p>
<div>Знаходження команд які грали хоча б в одному дивзіоні що і вибрана команда</div>
<p>
    <a asp-action="Query8" asp-controller="Teams">Query 8</a>
</p>