@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div></div>
<p>
    <a asp-action="Create" asp-controller="Stadia">Query 1</a>
</p>
<div>Знаходження імен менеджерів у яких є більше однієї команди</div>
<p>
    <a asp-action="Create" asp-controller="Managers">Query 2</a>
</p>
<div>Знаходження усіх матчів команди в яких ця команда не отримала жодної червоної картки</div>
<p>
    <a asp-action="Create" asp-controller="Teams">Query 3</a>
</p>
<div>Знаходження команди які приймають участь у певній кількості дівізіонів</div>
<p>
    <a asp-action="Edit" asp-controller="Teams">Query 4</a>
</p>
<div>Знаходження стадіонів на яких певна команда отримала хоча б однну жовту картку</div>
<p>
    <a asp-action="Delete" asp-controller="Teams">Query 5</a>
</p>